#ONSBKS_BOOKING_SECTION {
    .app-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
    }
} 

.ONSBKS_product_table_img_wrapper{
    img{
        border-radius: 5px;
    }
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .notes-month {
    font-size: 28px;
    text-align: center;
  }
  .notes-month section {
    font-size: 28px;
  }


  .playground_div{
    width: 100%;
    height: 120px;
    font-size: 14px;
    line-height: 20px;
    background: #0092ff;
    border-radius: 4px;
    min-height: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .playground_header{
    width: 90%;
    height: 120px;
    font-size: 14px;
    line-height: 120px;
    background: #0092ff05;
    min-height: 30px;
    color: #131313;
    text-align: center;
    border-left: 3px solid #0092ff;
  }

  .hidden-slot{
    visibility: hidden;
  }

  .not-available-slot{
    background: #85accb;
    cursor: not-allowed;
  }

  .slot-booking-menu button:hover {
    border-radius: 10px;
  }

  .onsbks_counter{
    width: 100% !important;
  }

  .onsbks-success{
    background-color: #2dd36f;

    &:hover{
      background-color: #28ba62 !important;
    }
  }

  input[type="checkbox"]:focus, 
  input[type="color"]:focus, 
  input[type="date"]:focus, 
  input[type="datetime-local"]:focus, 
  input[type="datetime"]:focus, 
  input[type="email"]:focus, 
  input[type="month"]:focus, 
  input[type="number"]:focus, 
  input[type="password"]:focus, 
  input[type="radio"]:focus, 
  input[type="search"]:focus, 
  input[type="tel"]:focus, 
  input[type="text"]:focus, 
  input[type="time"]:focus, 
  input[type="url"]:focus, 
  input[type="week"]:focus, 
  select:focus, 
  textarea:focus{
    box-shadow: none;
  }

  .onsbks-round-box{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px rgba(51, 51, 51, 0.0666666667);
  }

  .onsbks-checkbox{
    background: rgba(0, 100, 255, 0.01);
    padding: 15px 30px;
    margin-right: 4px;
    border-left: 4px solid #0059ff8a;

    &:hover{
      background: rgba(1, 121, 250, 0.07);
      // border-radius: 4px;
    }
  }